$header-nav-height: 64px;
$sidebar-left-width: 17rem;
$grey: #888888;
$red: #ff0002;
$text-color-dark: #111111;
$avatar-diameter: 48px;
$avatar-margin: 10px;

.home {
  margin-top: $header-nav-height;
  margin-left: $sidebar-left-width;
}

.video-preview {
  display: grid;
  grid: 118px auto / 210px;
}

.image-container {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  /* Video duration label at bottom right */
  .time-label {
    /* ... */
  }
}
